*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: steelblue;
    color: #eaeaea;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    margin-right: auto;
    padding: 8px;
    margin-left: 10px;
    transition: all .5s ease 0s;
}

.logo:hover {
    color: tomato;
    transform: rotate(1turn)
}

nav ul {
    display: flex;
    padding: 12px;
}

li {
    list-style-type: none;
}

li:hover {
    color: tomato;
}

a {
    color: #eaeaea;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    transition: all.5s ease 0s;
}

a:hover {
    color: tomato;
}

.btn {
    border: none;
    border-radius: 4px;
    background-color: tomato;
    color: #eaeaea;
    padding: 6px 12px;
    margin-right: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .5s ease 0s;
}

.btn:hover {
    background-color: red;
}

.container {
    max-width: 1200px;
    margin: 0;
    padding: 50px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: bolder;
    color: red;
}

.wrapper {
    font-size: 20px;
    font-weight: bold;
}

.foto {
    width: 75%;
    border-radius: 8px;
    height: auto;
}

.asdf {
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 12px;
}

.parallax {
    background-image:url(potoo1.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex-wrap: wrap;
}
    
.foto3 {
    max-width: 100vh;
    gap: 20px;
}

.about {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: indigo;
    color: #eaeaea;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.mt01 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.holder {
    text-align: center;
    margin-top: 40px;
    flex-direction: column;
    flex-wrap: wrap;
}

.valentine {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-valentine {
    width: 25%;
    background-color: #eaeaea;
    color: brown;
    box-shadow: 3px 5px 2px 1px black ;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.icons {
    width: 75px;
    height: 75px;
}

.awesome {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

@media screen {
    .btn {
        margin-bottom: 10px;
    }

    .card-valentine {
        height: auto;
    }

    .icons {
        size: auto;
    }
}